{% load static %}
<html lang="ru">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Чёрным по | Белому</title>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" media="all" />
	<link rel="shortcut icon" href="css/images/favicon.ico"/>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon2/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon2/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon2/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon2/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon2/safari-pinned-tab.svg' %}" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>
<body>
<div class="page">
    <!--Шапка сайта--> <!--АХАХАХАХАХАХАХАХАХАХАХАХАХАХАХАХАХАХАХАХАХААХАХАХАХАХАХАХАХАХАХАХАХАХАХАХАХАХАХАХАХАХАХАХ-->
    <!--Это первый коммит из домашенго задания в master-->
    <!--Это второй коммит из домашнего задания в master-->
    <!--Это первый коммит из домашенго задания в cecond-->
    <!--Это второй коммит из домашнего задания в second-->
    <header>
	    <div class="logo" >
		    <a href="/" class="link_logo">
			    <div class="box1">
				    <div class="text-1">Чёрным по</div>
			    </div>
		    </a>
		    <a href="/" class="link_logo">
			    <div class="box2">
				    <div class="text-2">Белому</div>
			    </div>
		    </a>
	    </div>
	    <div class="border_logo"></div>
    </header>
    <!--Навигация по сайту-->
	<nav>

		<a href="#h1_create_project" class="link_nav">Новости</a>
        <a href="#h1_For_what" class="link_nav">Для чего мы это делаем?</a>
        <a href="/admin" class="link_nav">Админ панель</a>
	</nav>
	<!--Остальной сайт-->
	<main>
		<!--Информация о проекте-->
        <h2 id="about_our_project_h2">О проекте ЧПБ</h2>
        <div id="our_project">
            <div class="about_our_project">
                <h3>
                    «Чёрным по Белому» - Open Source web-сайт, разработанный для информационного обеспечения Медиацентра «ВШколе» МАОУ «Школа №10».
                    Данный сайт предназначен для информирования услугах и новостях, поддержание обратной связи с пользователями.Чтобы создавать сайты,
                    необходимо быть одновременно и дизайнером, и программистом, и специалистом в области Интернет-маркетинга. Разработчику приходится решать сразу несколько задач.
                    Он должен учитывать специфику содержания сайта, ограничения со стороны технологий и особенности продвижения сайта.
                    При этом надо ухитриться сделать сайт уникальным и узнаваемым. Без оригинальных решений здесь не обойтись.
                </h3>
            </div>
            <div class="container_3d-animation">
                <div class="box_3d-animation">
                    <span style="--i:1;"><i> Наши</i> <i>медиа</i></span>
                    <span style="--i:2;"><i> Наши</i> <i>медиа</i></span>
                    <span style="--i:3;"><i> Наши</i> <i>медиа</i></span>
                    <span style="--i:4;"><i> Наши</i> <i>медиа</i></span>
                    <span style="--i:5;"><i> Наши</i> <i>медиа</i></span>
                    <span style="--i:6;"><i> Наши</i> <i>медиа</i></span>
                    <span style="--i:7;"><i> Наши</i> <i>медиа</i></span>
                    <span style="--i:8;"><i> Наши</i> <i>медиа</i></span>
                    <span style="--i:9;"><i> Наши</i> <i>медиа</i></span>
                    <span style="--i:10;"><i> Наши</i> <i>медиа</i></span>
                    <span style="--i:11;"><i> Наши</i> <i>медиа</i></span>
                    <span style="--i:12;"><i> Наши</i> <i>медиа</i></span>
                    <span style="--i:13;"><i> Наши</i> <i>медиа</i></span>
                    <span style="--i:14;"><i> Наши</i> <i>медиа</i></span>
                    <span style="--i:15;"><i> Наши</i> <i>медиа</i></span>
                    <span style="--i:16;"><i> Наши</i> <i>медиа</i></span>
                </div>
            </div>
        </div>
        <!--Этапы производства-->
        <h1 id="h1_For_what">Для чего мы это делаем?</h1>
        <div class="water_cards-container">
            <div class="drop" style="--clr:#ff0f5b;" onclick="">
                <div class="content-drop">
                    <h2>01</h2>
                    <p class="content-drop-p">Чтобы наши читатели смогли получать самые свежие и актуальные новости Медиацентра «ВШколе».</p>
                    <p class="emoji"><!-- --- --></p>
                </div>
            </div>
            <div class="drop" style="--clr:#939393;" onclick="">
                <div class="content-drop">
                    <h2>02</h2>
                    <p class="content-drop-p">Мы хотим, чтобы все новинки Медиацентра «ВШколе», можно было прочитать в одном месте - на сайте ЧПБ.</p>
                    <p class="emoji"><!-- --- --></p>
                </div>
            </div>
            <div class="drop" style="--clr:#01b4ff;" onclick="">
                <div class="content-drop">
                    <h2>03</h2>
                    <p class="content-drop-p">Так как, наш проект является Open Source, любой желаюший может изучить исходный код на GitGub, и сделать новостной ресурс для своего медиацентра.</p>
                    <p class="emoji"><!-- --- --></p><!--вставить ссылку на ютуб канал ЧПБ-->
                </div>
            </div>
        </div>
        <!-- Лента новостей -->
        <h1 id="h1_create_project">Новости «ВШколе»</h1>
            <div class="news">
                {% for post in post_list %}
                <div class="news_item">
                    <div class="news_image">
                        <a href="{{ post.id }}"><img src="{{ post.img.url }}" alt=""/></a>
                    </div>
                    <div class="news_text">
                        <h4><a href="{{ post.id }}">{{ post.title }}</a></h4>
                        <!--<p>{{ post.description }}</p>-->
                        <p>Автор: {{ post.author }} </p>
                    </div>
                </div>
                {% endfor %}
            </div>
			<div class="cl">&nbsp;</div>



</main>
<!--Подвал сайта-->
    <footer class="footer">
        <div class="container_footer">
            <div class="footer_wrapper">
                <ul class="social">
                    <li class="social_item"><a href="https://vk.com/school10_rostov" target="_blank"><img class="img_footer" src="{% static '/images/icons/vk.svg' %}" alt="Link"></a></li>
                    <li class="social_item"><a href="https://www.youtube.com/@ExtremeCode" target="_blank"><img class="img_footer" src="{% static '/images/icons/youtube.svg' %}" alt="Link"></a></li>
                    <li class="social_item"><a href="https://github.com/DenisBochko/Black-on-White-django.git" target="_blank"><img class="img_footer" src="{% static '/images/icons/gitHub.svg' %}" alt="Link"></a></li>
                </ul>
                <div class="copyright">
                    <p>© 2023 ЧПБ</p>
                </div>
            </div>
        </div>
    </footer>
</div>
<!--Скрипты-->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <script src="{% static 'js/libs/anime.js' %}"></script>
    <!--<script src="libs/slick/slick.min.js"></script>-->
    <!--<script src="libs/simpleParallax.min.js"></script>-->
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>